{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


        <link rel="stylesheet" href="{{ asset('bundles/sonatablueprint/screen.css') }}" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="{{ asset('bundles/sonatablueprint/print.css') }}" type="text/css" media="print">
        <!--[if lt IE 8]><link rel="stylesheet" href="{{ asset('bundles/sonatapage/blueprint/ie.css') }}" type="text/css" media="screen, projection"><![endif]-->

        <link rel="stylesheet" href="{{ asset('bundles/sonatajquery/themes/flick/jquery-ui-1.8.6.custom.css') }}" type="text/css" media="all" />
        <script src="{{ asset('bundles/sonatajquery/jquery-1.4.4.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/sonatajquery/jquery-ui-1.8.6.custom.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/sonatajquery/jquery-ui-i18n.js') }}" type="text/javascript"></script>

        <script src="{{ asset('bundles/sonatapage/page.js') }}" type="text/javascript"></script>
        <link rel="stylesheet" href="{{ asset('bundles/sonatapage/page.css') }}" type="text/css" media="all">
    </head>
    <body>

        <div class="container">
            <div class="span-24 last" style="background: blue">
                <input type="checkbox" id="page-action-enabled-edit" />
                <label for="page-action-enabled-edit">{% trans 'label_edit_enabled' from 'PageBundle' %}</label>
                <input type="submit" value="{% trans 'btn_save_position' from 'PageBundle' %}" id="page-action-save-position" />
                <input type="submit" value="{% trans 'btn_edit' from 'PageBundle' %}" id="page-action-edit" />
            </div>

            <!-- header -->
            <div class="span-24 last">
                {% render 'SonataPageBundle:Page:renderContainer' with {
                    'name' : 'header',
                    'page' : 'global'
                } %}
            </div>

            <!-- left sidebar -->
            <div class="span-4">
                {% render 'SonataPageBundle:Page:renderContainer' with {
                    'name' : 'sidebar',
                    'page' : 'global'
                } %}
            </div>

            <div class="span-20 last">
                {% render 'SonataPageBundle:Page:renderContainer' with {
                    'name' : 'content_top',
                    'page' : 'global'
                } %}

                {% if page.hybrid %}
                    {{ content|raw }}
                {% else %}
                    {% render 'SonataPageBundle:Page:renderContainer' with {
                        'name' : 'content_top',
                        'page' : page
                     } %}
                {% endif %}


                {% render 'SonataPageBundle:Page:renderContainer' with {
                    'name' : 'content_bottom',
                    'page' : 'global'
                } %}
            </div>

            <!-- footer -->
            <div class="span-24 last">
                {% render 'SonataPageBundle:Page:renderContainer' with {
                    'name' : 'footer',
                    'page' : 'global'
                } %}
            </div>
        </div>


        <!-- CMS specific variables -->
        <script>
            Page.url = {
                block_save_position: '{{ path('admin_sonata_page_block_save_position') }}',
                block_create: '{{ path('admin_sonata_page_block_create', {'id': page.id }) }}',
                block_update: '{{ path('admin_sonata_page_block_update', {'id': page.id }) }}',
                block_edit:   '{{ path('admin_sonata_page_block_edit', {'id': page.id, 'childId': 'BLOCK_ID'}) }}',
                page_edit:    '{{ path('admin_sonata_page_page_edit', {'id': page.id }) }}',
                page_update:  '{{ path('admin_sonata_page_page_update') }}'
            }
        </script>

        <script>
            {{ page.javascript|raw }}
        </script>

        <style>
            {{ page.stylesheet|raw }}
        </style>

    </body>
</html>
