{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends 'SonataPageBundle::base_layout.html.twig' %}

{% block page_container %}
    <div class="container">
        <div class="content">
            <div class="page-header">
                <div class="pull-left">
                    {{ manager.renderContainer(site, 'title', 'global')|raw }}
                </div>

                <div class="pull-right navigation">
                    {{ manager.renderContainer(site, 'header', 'global')|raw }}
                </div>

                <div style="clear: both"></div>
            </div>

            <div class="row">
                {% if page.name != 'global'%}
                    {{ manager.renderContainer(site, 'content_top', 'global')|raw }}
                {% endif %}
                {{ manager.renderContainer(site, 'content_top', page)|raw }}
            </div>

            <div class="row">
                {% if content is defined %}
                    {{ content|raw }}
                {% elseif block('content')%}
                    {{ block('content')|raw }}
                {% else %}
                    {{ manager.renderContainer(site, 'content', page)|raw }}
                {% endif %}
            </div>

            <div>
                {{ manager.renderContainer(site, 'content_bottom', page)|raw }}
                {% if page.name != 'global'%}
                    {{ manager.renderContainer(site, 'content_bottom', 'global')|raw }}
                {% endif %}
            </div>
        </div>

        <footer>
            {{ manager.renderContainer(site, 'footer', 'global')|raw }}
        </footer>
    </div>
{% endblock %}