{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:action.html.twig' %}

{% block title %}{{ 'title_create_snapshot'|trans({}, 'SonataPageBundle') }}{% endblock %}

{% block content %}

    {{ 'message_create_snapshot'|trans({}, 'SonataPageBundle') }}

    <form action="{{ admin.generateUrl('create') }}" method="POST">

        {% if admin.isChild() %}
            <div style="display:none">{{ form_rest(form) }}</div>
        {% else %}
            {{ form_rest(form) }}
        {% endif %}

        <div class="well well-small form-actions">
            <input class="btn btn-primary" type="submit" name="create" value="{{ 'button_create_snapshot'|trans({}, 'SonataPageBundle') }}">
            {{ 'or_list'|trans({}, 'SonataPageBundle') }}

            <a class="btn" href="{{ admin.generateUrl('list') }}">{{ 'link_action_list'|trans({}, 'SonataAdminBundle') }}</a>
        </div>
    </form>
{% endblock %}
