<div class="page-composer__container__view block-view-{{ container.id }}" data-block-id="{{ container.id }}">
    <h2 class="page-composer__container__view__header">{{ container.name }}</h2>

    <span class="page-composer__container__view__notice">notice</span>

    <div class="page-composer__block-type-selector">
        <label>add block of type</label>
        <select class="page-composer__block-type-selector__select">
            {% for blockServiceId, blockService in blockServices %}
                <option value="{{ blockServiceId }}">{{ blockService.name }}</option>
            {% endfor %}
        </select>
        <a class="btn btn-action btn-small page-composer__block-type-selector__confirm"
           href="{{ path('admin_sonata_page_page_block_create', { 'id': page.id }) }}"
        ><i class="fa fa-plus"></i></a>
        <span class="page-composer__block-type-selector__loader">loading</span>

        <small class="page-composer__container__child-count pull-right">
            blocks <span class="badge">{{ container.children|length }}</span>
        </small>
    </div>

    <ul class="page-composer__container__children">
        {% for child in container.children %}
            <li class="page-composer__container__child"
                data-block-id="{{ child.id }}" data-parent-block-id="{{ container.id }}"
            >
                <a class="page-composer__container__child__edit"
                   href="{{ path('admin_sonata_page_block_edit', { 'id': child.id }) }}"
                >
                    <h4>{{ child.name|default(child.type) }}</h4>
                    <small>{{ child.type }}</small>
                    <span class="page-composer__container__child__toggle">
                        <i class="fa fa-chevron-down"></i>
                        <i class="fa fa-chevron-up"></i>
                    </span>
                </a>

                <div class="page-composer__container__child__remove">
                    <a class="badge" href="{{ path('admin_sonata_page_block_delete', { 'id': child.id }) }}">remove <i class="fa fa-times"></i> </a>
                    <span class="page-composer__container__child__remove__confirm">
                        confirm delete ? <span class="yes">yes</span> <span class="cancel">cancel</span>
                    </span>
                </div>

                <div class="page-composer__container__child__content">
                </div>

                <div class="page-composer__container__child__loader">
                    <span>loading</span>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>