{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:action.html.twig' %}

{% import _self as tree %}
{% macro pages(pages, admin, rootPages) %}
    <ul{% if rootPages %} class="page-tree"{% endif %}>
        {% for page in pages if not page.internal and (not page.parent or not rootPages)%}
            <li>
                <div class="page-tree__item">
                    {% if page.parent %}<i class="fa fa-caret-right"></i>{% endif %}
                    <i class="fa page-tree__item__is-hybrid fa-{% if page.isHybrid %}gears{% else %}code{% endif %}"></i>
                    <a class="page-tree__item__edit" href="{{ admin.generateUrl('edit', { id: page.id }) }}">{{ page.name }}</a>
                    <a class="label label-default pull-right" href="{{ admin.generateUrl('edit', { id: page.id }) }}">compose <i class="fa fa-magic"></i></a>
                    {% if page.edited %}<span class="label label-warning pull-right">edited</span>{% endif %}
                </div>
                {% if page.children|length %}
                    {{ _self.pages(page.children, admin, false) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% block content %}
    <style>
        .page-tree {
            list-style: none;
            padding-left: 0;
            margin-left: 15px;
            margin-right: 15px;
        }
        .page-tree ul {
            list-style: none;
            padding-left: 30px;
        }
        .page-tree__item {
            display: block;
            padding: 7px 15px 7px 7px;
            border: 1px solid #ddd;
            border-radius: 2px;
            position: relative;
            margin-bottom: 5px;
            color: #444;
        }
        .page-tree__item .label {
            font-size: 12px;
            margin-top: 2px;
            border-radius: 2px;
        }
        .page-tree__item .label-warning {
            margin-right: 5px;
        }
        .page-tree__item .fa-caret-right {
            position: absolute;
            top: 9px;
            left: -22px;
            color: #3c8dbc;
        }
        .page-tree__item:hover {
            background: #eee;
            color: #000;
        }
        .page-tree__item__is-hybrid {
            margin-right: 5px;
        }
        .page-tree__item__edit {
            font-weight: bold;
        }
        .page-tree__item__edit:hover {
            text-decoration: underline;
        }
    </style>
    <div class="row">
        <div class="col-md-9">
            <div class="box box-primary">
                <div class="box-header">
                    <h1 class="box-title">Pages for site:&nbsp;<strong>{{ currentSite.name }}</strong></h1>
                </div>
                <div class="box-content">
                    {{ tree.pages(pages, admin, true) }}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box box-primary">
                <div class="box-content">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="header"><h4>Sites</h4></li>
                        {% for site in sites %}
                            <li{% if currentSite and site.id == currentSite.id %} class="active"{% endif %}>
                                <a href="{{ admin.generateUrl('tree', { 'siteId': site.id }) }}">
                                    {% if currentSite and site.id == currentSite.id %}
                                        <i class="fa fa-check"></i>
                                    {% endif %}
                                    {{ site.name }}
                                </a>
                            </li>
                        {% endfor%}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}