{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:action.html.twig' %}

{% block title %}{{ 'title_select_site'|trans({}, 'SonataPageBundle') }}{% endblock %}

{% block content %}

    {{ 'message_create_page'|trans({}, 'SonataPageBundle')}}

    <ul>
        {% for site in sites %}
            <li>
                <a href="{{ admin.generateUrl('create', {'siteId': site.id}) }}">

                {% if current and site.id == current.id %}
                    <img src="{{ asset('bundles/sonataadmin/famfamfam/accept.png') }}" />
                {% endif %}

                {{ site.name }} - {{ site.url }}

                </a>
            </li>
        {% endfor%}
    </ul>
{% endblock %}
