{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<!-- block({{ container.id }}, {{ container.type }} : {% if not container.hasParent()%} {{ container.settings.name }} {% else %} inner-container{% endif%}) -->
<div id="cms-block-{{ container.id }}" class="cms-block cms-container{% if not container.hasParent()%} cms-container-root{% else %} cms-block-element{%endif%}">
    <div class="cms-block cms-block-element cms-fake-block">&nbsp;</div>
    {% for block in container.children %}
        <!-- block({{ block.id }}, {{ block.type }}) -->
        {{ sonata_page_render_block(block) }}
        <!-- end block({{ block.id }}, {{ block.type }}) -->
    {% endfor %}
</div>
<!-- end block({{ container.id }}, {{ container.type }}) -->