{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if breadcrumbs %}
    <ul {% for attrname, attrvalue in options.container_attr %}{{ attrname }}="{{ attrvalue }}" {% endfor %}>
        {% for breadcrumb in breadcrumbs %}
            {% if not breadcrumb.isdynamic %}
                <li><a href="{{ path(breadcrumb) }}" title="{{ breadcrumb.name }}">{{ breadcrumb.name }}</a>{{ options.separator|raw }}</li>
            {% else %}
                <li>{{ breadcrumb.name }}{{ options.separator|raw }}</li>
            {% endif %}
        {% endfor %}
        {% if not page.isdynamic %}
            <li class="{{ options.current_class }}"><a href="{{ path(page) }}" title="{{ page.name }}">{{ page.name }}</a>{{ options.last_separator|raw }}</li>
        {% else %}
            <li class="{{ options.current_class }}">{{ page.name }}{{ options.last_separator|raw }}</li>
        {% endif %}
    </ul>
{% endif %}
