{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends "::base.html.twig" %}

{% block title %}{{ "title_page_not_found"|trans({}, 'PageBundle')}}{% endblock %}

{% block content %}
    <div>
        <h2>{{ "title_page_not_found"|trans({'pathInfo': pathInfo}, 'PageBundle') }}</h2>

        {% if creatable %}
            <p>
                <a href="{{ path('admin_sonata_page_page_create', {'url': pathInfo}) }}">{{ "create_page"|trans({'pathInfo': pathInfo}, 'PageBundle') }}</a>
            </p>
        {% else %}
            <p>
                {{ "message_page_does_not_exist"|trans({'pathInfo': pathInfo}, 'PageBundle') }}
            </p>
        {% endif%}
    </div>
{% endblock%}