{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:action.html.twig' %}

{% block title %}{{ 'title_create_snapshots'|trans({}, 'SonataPageBundle') }}{% endblock %}

{% block content %}

    {{ "message_create_snapshots"|trans({'%site%': object.name }, 'SonataPageBundle') }}

    <div class="well well-small form-actions">
        <form action="{{ admin.generateUrl('snapshots', {'id': object.id}) }}" method="POST">

            <input class="btn btn-primary" type="submit" name="create" value="{{ 'button_create_snapshots'|trans({}, 'SonataPageBundle') }}">

            {{ 'or_list'|trans({}, 'SonataPageBundle') }}

            <a class="btn" href="{{ admin.generateUrl('list') }}">{{ 'link_action_list'|trans({}, 'SonataAdminBundle') }}</a>
        </form>
    </div>

{% endblock %}
